@using BonusMvcStok.Models.Entity
@model List<TBLURUNLER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("Index", "Urun", FormMethod.Get))
{
    <p>
        Ürün Adı: @Html.TextBox("p");
       <input  type="submit" value="Ara"/>
    </p>
}
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>ÜRÜN ADI</th>
        <th>MARKA</th>
        <th>STOK</th>
        <th>ALIŞ FİYATI</th>
        <th>SATIŞ FİYATI</th>
        <th>KATEGORİ ADI</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    @foreach (var x in Model)
    {
<tr>
    <td>@x.id</td>
    <td>@x.ad</td>
    <td>@x.marka</td>
    <td>@x.stok</td>
    <td>@x.alisfiyat</td>
    <td>@x.satisfiyat</td>
    <td>@x.TBLKATEGORI.ad</td>
    <td><a href="/Urun/UrunSil/@x.id" class="btn btn-danger">SİL</a></td>
    <td><a href="/Urun/UrunGetir/@x.id" class="btn btn-success">GÜNCELLE</a></td>
</tr>
    }
</table>
<a href="/Urun/YeniUrun/" class="btn btn-primary">Yeni Ürün</a>

