@model BonusMvcStok.Models.Entity.TBLMUSTERI
@{
    ViewBag.Title = "YeniMusteri";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    <form method="post">
        <h2>Yeni Müşteri Ekleme</h2>
        <br />
        <label>Müşteri Adı</label>
        @Html.TextBoxFor(x => x.ad, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ad, "", new { @style = "color:red" })
        <br />

        <label>Soyad</label>
        @Html.TextBoxFor(x => x.soyad, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ad, "", new { @style = "color:red" })
        <br />

        <label>Şehir</label>
        @Html.TextBoxFor(x => x.sehir, new { @class = "form-control" })
        <br />


        <label>Bakiye</label>
        @Html.TextBoxFor(x => x.bakiye, new { @class = "form-control" })
        <br />

        <button class="btn btn-info">KAYDET</button>

    </form>
